<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-language-heading" data-cy="LanguageCreateUpdateHeading">Create or edit a Language</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_name">Name</label>
          <select class="form-control" name="name" formControlName="name" id="field_name" data-cy="name">
            <option [ngValue]="null"></option>
            @for (enumLanguageName of enumLanguageNameValues; track $index) {
              <option [value]="enumLanguageName">{{ enumLanguageName }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_level">Level</label>
          <select class="form-control" name="level" formControlName="level" id="field_level" data-cy="level">
            <option [ngValue]="null"></option>
            @for (enumLanguageLevel of enumLanguageLevelValues; track $index) {
              <option [value]="enumLanguageLevel">{{ enumLanguageLevel }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_languageCandidate">Language Candidate</label>
          <select
            class="form-control"
            id="field_languageCandidate"
            data-cy="languageCandidate"
            name="languageCandidate"
            formControlName="languageCandidate"
            [compareWith]="compareCandidate"
          >
            <option [ngValue]="null"></option>
            @for (candidateOption of candidatesSharedCollection; track $index) {
              <option [ngValue]="candidateOption">{{ candidateOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_candidate">Candidate</label>
          <select
            class="form-control"
            id="field_candidate"
            data-cy="candidate"
            name="candidate"
            formControlName="candidate"
            [compareWith]="compareCandidate"
          >
            <option [ngValue]="null"></option>
            @for (candidateOption of candidatesSharedCollection; track $index) {
              <option [ngValue]="candidateOption">{{ candidateOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
