<div>
  <h2 id="page-heading" data-cy="CandidateAdditionalInfosHeading">
    <span>Candidate Additional Infos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-candidate-additional-infos"
        [routerLink]="['/candidate-additional-infos/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Candidate Additional Infos</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (candidateAdditionalInfos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Candidate Additional Infos found</span>
    </div>
  }

  @if (candidateAdditionalInfos && candidateAdditionalInfos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="birthday">
              <div class="d-flex">
                <span>Birthday</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="actualSalary">
              <div class="d-flex">
                <span>Actual Salary</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="expectedSalary">
              <div class="d-flex">
                <span>Expected Salary</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="firstContact">
              <div class="d-flex">
                <span>First Contact</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="location">
              <div class="d-flex">
                <span>Location</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="mobile">
              <div class="d-flex">
                <span>Mobile</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="disponibility">
              <div class="d-flex">
                <span>Disponibility</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (candidateAdditionalInfos of candidateAdditionalInfos; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/candidate-additional-infos', candidateAdditionalInfos.id, 'view']">{{ candidateAdditionalInfos.id }}</a>
              </td>
              <td>{{ candidateAdditionalInfos.birthday | formatMediumDatetime }}</td>
              <td>{{ candidateAdditionalInfos.actualSalary }}</td>
              <td>{{ candidateAdditionalInfos.expectedSalary }}</td>
              <td>{{ candidateAdditionalInfos.firstContact | formatMediumDatetime }}</td>
              <td>{{ candidateAdditionalInfos.location }}</td>
              <td>{{ candidateAdditionalInfos.mobile }}</td>
              <td>{{ candidateAdditionalInfos.disponibility }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/object-containing-file']"
                    [queryParams]="{ 'filter[candidateAdditionalInfosId.in]': candidateAdditionalInfos.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Show Object Containing File</span>
                  </button>
                  <a
                    [routerLink]="['/candidate-additional-infos', candidateAdditionalInfos.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a
                    [routerLink]="['/candidate-additional-infos', candidateAdditionalInfos.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(candidateAdditionalInfos)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (candidateAdditionalInfos && candidateAdditionalInfos.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
