<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-candidate-additional-infos-heading" data-cy="CandidateAdditionalInfosCreateUpdateHeading">
        Create or edit a Candidate Additional Infos
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_birthday">Birthday</label>
          <div class="d-flex">
            <input
              id="field_birthday"
              data-cy="birthday"
              type="datetime-local"
              class="form-control"
              name="birthday"
              formControlName="birthday"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_actualSalary">Actual Salary</label>
          <input
            type="number"
            class="form-control"
            name="actualSalary"
            id="field_actualSalary"
            data-cy="actualSalary"
            formControlName="actualSalary"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_expectedSalary">Expected Salary</label>
          <input
            type="number"
            class="form-control"
            name="expectedSalary"
            id="field_expectedSalary"
            data-cy="expectedSalary"
            formControlName="expectedSalary"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_firstContact">First Contact</label>
          <div class="d-flex">
            <input
              id="field_firstContact"
              data-cy="firstContact"
              type="datetime-local"
              class="form-control"
              name="firstContact"
              formControlName="firstContact"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_location">Location</label>
          <input type="text" class="form-control" name="location" id="field_location" data-cy="location" formControlName="location" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_mobile">Mobile</label>
          <input type="text" class="form-control" name="mobile" id="field_mobile" data-cy="mobile" formControlName="mobile" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_disponibility">Disponibility</label>
          <input
            type="text"
            class="form-control"
            name="disponibility"
            id="field_disponibility"
            data-cy="disponibility"
            formControlName="disponibility"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
