<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (certification) {
      <div>
        <h2 data-cy="certificationDetailsHeading"><span>Certification</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ certification.id }}</span>
          </dd>
          <dt><span>Title</span></dt>
          <dd>
            <span>{{ certification.title }}</span>
          </dd>
          <dt><span>Date</span></dt>
          <dd>
            <span>{{ certification.date | formatMediumDate }}</span>
          </dd>
          <dt><span>Certification Candidate</span></dt>
          <dd>
            @if (certification.certificationCandidate) {
              <div>
                <a [routerLink]="['/candidate', certification.certificationCandidate.id, 'view']">{{
                  certification.certificationCandidate.id
                }}</a>
              </div>
            }
          </dd>
          <dt><span>Candidate</span></dt>
          <dd>
            @if (certification.candidate) {
              <div>
                <a [routerLink]="['/candidate', certification.candidate.id, 'view']">{{ certification.candidate.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/certification', certification.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
